@model MicroondasMVC.Models.Aquecimento
@{
    ViewData["Title"] = "Iniciar";
    List<string> stringPontos = Model.ExecutarAquecimento('.');
}

<h2>Iniciar</h2>
<body>
    <div id="app">
        <h4>@Model.Tempo</h4>
        <h4>@Model.Alimento</h4>
        <h4>@Model.Potencia</h4>
        
        @foreach(string linha in stringPontos)
        {
            <h6>@linha</h6>
        }
        <h6>Aquecida!</h6>

    </div>
</body>


