@model MicroondasMVC.Models.Aquecimento
@{
    ViewData["Title"] = "Iniciar";
    List<string> stringPontos = Model.ExecutarAquecimento('.');
}

<h2>Iniciar</h2>
<body>
    <div>
        <h4>Tempo: @Model.Tempo</h4>
        <h4>Alimento: @Model.Alimento</h4>
        <h4>Potencia: @Model.Potencia</h4>
<hr />
        @foreach (string linha in stringPontos)
        {
            <h6>@linha</h6>
        }
        <h6>Aquecida!</h6>

    </div>
</body>


