
@{
    ViewData["Title"] = "Microondas";
}

    <h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Aquecer" class="btn btn-info">Inserir Alimento para aquecer</a>
</p>



<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
 </tbody>
    </table>
</div>
