@model MicroondasMVC.Models.Aquecimento
@{
    ViewData["Title"] = "Iniciar";
}

<h2>Iniciar</h2>


<input asp-for="ID" class="form-control" disabled />
<input asp-for="Tempo" class="form-control" disabled />
<input asp-for="Alimento" class="form-control" disabled />
<input asp-for="Potencia" class="form-control" disabled />