@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">Ocorreu um erro ao processar o aquecimento.</h2>
<h2 class="text-danger">@Model.Message</h2>
