@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro ao processar o aquecimento";
}
<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">@Model.Message</h2>

<div>
    <a asp-controller="Aquecimento" asp-action="Index" class="navbar-brand">Voltar</a>
</div>